.calculator {
  margin: 5rem auto;
  width: 40rem;
  border: 2px solid var(--border);

  &__row {
    width: 100%;
  }

  &__column {
    &--top {
      input {
        @include input;

        background-color: var(--top);
        color: var(--white);
        text-align: right;
        padding-right: 1rem;
        font-size: 2rem;
      }
    }

    &--main {
      width: 25%;

      input {
        @include input;

        background-color: var(--main);
        cursor: pointer;
      }
    }

    &--side {
      input {
        @include input;

        background-color: var(--side);
        cursor: pointer;
      }
    }
  }
}
